<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--Only for IntelliJ IDEA mapping -->
        <mapping class="ru.dazarnov.wallet.domain.Operation"/>
        <mapping class="ru.dazarnov.wallet.domain.Account"/>

    </session-factory>
</hibernate-configuration>